---
- name: Install Java JRE
  apt:
    name: default-jre-headless
    state: present

- name: Add signing key for Jitsi repository
  apt_key:
    keyserver: keys.gnupg.net
    id: C697D823EB0AB654

- name: Install Jitsi apt repo (stable)
  apt_repository:
    repo: 'deb http://download.jitsi.org/ stable/'
    state: "{{ 'absent' if jitsi_meet_use_nightly_apt_repo else 'present' }}"

- name: Install Jitsi apt repo (unstable)
  apt_repository:
    repo: 'deb http://download.jitsi.org/nightly/deb unstable/'
    state: "{{ 'present' if jitsi_meet_use_nightly_apt_repo else 'absent' }}"

- name: Install Jitsi Meet
  apt:
    name: jitsi-meet
    state: present
    update_cache: yes

- name: Set debconf options for jitsi-meet.
  debconf:
    name: "{{ item.name }}"
    question: "{{ item.question }}"
    value: "{{ item.value }}"
    vtype: "{{ item.vtype }}"
  with_items: "{{ jitsi_meet_debconf_settings }}"
  notify:
    - restart jitsi-videobridge
    - restart jicofo
    - restart prosody
