---
- name: Install base apt packages.
  apt:
    name: "{{ item }}"
    state: present
  with_items: "{{ jitsi_meet_base_packages }}"

# Prior versions of the role were writing to this file, let's
# clean it up and use a generalized filename for configuring the apt repo,
# regardless of whether stable or unstable is used.
- name: Remove deprecated repo filename.
  file:
    path: /etc/apt/sources.list.d/download_jitsi_org_nightly_deb.list
    state: absent

- name: Determine repo strategy.
  set_fact:
    jitsi_strategy: "{{ 'unstable' if jitsi_meet_use_nightly_apt_repo else 'stable' }}"

- name: Configure signing key for Jitsi repository.
  apt_key:
    keyserver: keys.gnupg.net
    id: "{{ item.value.key_id }}"
    url: "{{ item.value.key_url }}"
    state: "{{ 'present' if jitsi_strategy == item.key else 'absent' }}"
  with_dict: "{{ jitsi_meet_apt_repos }}"

- name: Install Jitsi apt repo.
  apt_repository:
    repo: "{{ item.value.repo_url }}"
    state: "{{ 'present' if jitsi_strategy == item.key else 'absent' }}"
    # Ansible will automatically add the ".list" suffix.
    filename: /etc/apt/sources.list.d/jitsi_meet
  with_dict: "{{ jitsi_meet_apt_repos }}"

- name: Install Jitsi Meet
  apt:
    name: jitsi-meet
    state: present
    update_cache: yes

- name: Set debconf options for jitsi-meet.
  debconf:
    name: "{{ item.name }}"
    question: "{{ item.question }}"
    value: "{{ item.value }}"
    vtype: "{{ item.vtype }}"
  with_items: "{{ jitsi_meet_debconf_settings }}"
  notify:
    - restart jitsi-videobridge
    - restart jicofo
    - restart prosody
