{{ kernel_version_string.stdout }}
   mmm    "      m             "           m    m                 m   
     #  mmm    mm#mm   mmm   mmm           ##  ##  mmm    mmm   mm#mm 
     #    #      #    #   "    #           # ## # #"  #  #"  #    #   
     #    #      #     """m    #           # "" # #""""  #""""    #   
 "mmm"  mm#mm    "mm  "mmm"  mm#mm         #    # "#mm"  "#mm"    "mm 

Hostname: {{ ansible_fqdn }}
IP address: {{ ansible_default_ipv4.address }}

