VirtualHost "{{ jitsi_meet_server_name }}"
    authentication = "{{ jitsi_meet_authentication }}"
    ssl = {
        key = "/var/lib/prosody/{{ jitsi_meet_server_name }}.key";
        certificate = "/var/lib/prosody/{{ jitsi_meet_server_name }}.crt";
    }

    modules_enabled = {
        "bosh";
        "pubsub";
        "ping";
    }

VirtualHost "auth.{{ jitsi_meet_server_name }}"
    authentication = "internal_plain"

Component "conference.{{ jitsi_meet_server_name }}" "muc"
     admins = { "focus@auth.{{ jitsi_meet_server_name }}" }

Component "jitsi-videobridge.{{ jitsi_meet_server_name }}"
     component_secret = "{{ jitsi_meet_videobridge_secret }}"

Component "focus.{{ jitsi_meet_server_name }}"
     component_secret = "{{ jitsi_meet_jicofo_secret }}"
